<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<nav th:replace="/layout :: navbar"></nav>
<h3>Library</h3>
<table id="products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat: ${books}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.author}"></td>
        <td th:text="${row.quantity}"></td>
        <td><a th:href="@{/book/{id}/borrow(id=${row.id})}">Borrow</a></td>
    </tr>
    </tbody>
</table>
<form method="get" action="/book/give_back">
    <div th:replace="layout :: search"></div>
</form>
</body>
</html>