<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>Add Customer</h3>
<p>
    <a th:href="@{/province/}">
        Back to Customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/province/save}" th:object="${province}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="email" th:field="*{name}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>