<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/blog/}">
        Back to Product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blog/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Title</label>
            <input type="email" th:field="*{title}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>